*{
    margin: 0;
    padding: 0px;
}

.navBar {
    display: flex;
    padding: 0.5em;
    margin: 5px;
    height: 40px;
    align-items: center;
} 

.navButton{
    background-color: cornflowerblue;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer; 
}

.navButton:hover{
    background-color:lightcoral;
}

.text{
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.container{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color:bisque;
    justify-content: center;
    height: 60px;
    align-items: center;
}

a{
    display:flex;
    color: black;
}

.futureList{
    list-style-type: none;
}

.aboutMe{
    padding-top: 50px;
}

.homeImg{
    border-radius: 10px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}